extends ../layouts/header
block title
  title Books
block link
  link(rel="stylesheet" href="/static/styles/style.css")
block content
  .navbar.navbar-expand-lg.navbar-dark.navbar-bg
    .container
      a.navbar-brand.text-light(href='/') Nishi
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar')
        span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link.active(href='/books') Books
          li.nav-item
            a.nav-link(href='/users') Users
          li.nav-item
            a.nav-link(href='/transaction') Transaction

  .container.mt-5
    h1.display-4.mb-4 Modify Title

    form(action='/books/'+book._id+'/title', method="POST").form-inline
      .form-group
        label(for="title") Title:&nbsp;
        input(type="text" id="title" name="title" value=book.title).form-control
      span &nbsp;&nbsp;
      button(type="submit").btn.btn-primary Modify