h1 Create New Transaction

form(action="/transaction/create" method="POST")
  
  label(for="users") User: 
  select(id="users" name="userId")
    each user in users
      option(value=user.id) #{user.name}
  span &nbsp;&nbsp;&nbsp;&nbsp;
  label(for="books") Book: 
  select(id="books" name="bookId")
    each book in books
      option(value=book.id) #{book.title}
  p
    button(type="submit") Create